@import "_variables.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
    }
}
