@import "_variables.scss";

.container {
    align-items: center;
    background: rgba(0, 0, 0, .7);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.alertContainer {
    background: white;
    padding: 1em;
    width: 320px;
}

.btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-top: 1em;

    [class^="Button"]:only-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
