@import "_variables.scss";

.card {
    @extend %border-global;
    overflow: hidden;
    padding: .5em;
    transition: box-shadow 300ms ease-in;

    &:hover {
        box-shadow: 0 0 .5em 0 $grey-1;
    }
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.flexContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    [class^="Button"] {
        flex: 0 0 8em;
    }
}
