@import "_variables.scss";

.button {
    @extend %border-global;
    @extend %padding-input;
    background: $button-blue;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &:active {
        border-color: $button-blue;
    }
}
