@import "_variables.scss";

.container {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    [class^="Card"] {
        flex: 0 0 26%;
        margin: .8em 0;
    }

    @media (max-width: $breakpoint-mobile) {
        display: block;
    }
}

.count,
.size {
    margin-bottom: .8rem;
}

.count {
    font-size: 2em;

    @media (max-width: $breakpoint-tablet) {
        margin-top: 0;
    }
}

