@import "_variables.scss";

.container {
    @media (min-width: $breakpoint-mobile) {
        display: flex;
        padding-bottom: 1em;
        padding-top: 2em;

        > [class^="SearchInput"] {
            flex: 1;
            margin-right: 4em;
            order: 1;
        }
    
        > [class^="Button"] {
            flex: 0 0 13em;
            order: 2;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        padding-top: 0;
    }

    @media (max-width: $breakpoint-mobile) {
        display: block;

        > [class^="SearchInput"],
        > [class^="Button"] {
            margin: .4em 0;
            width: 100%;;
        }

        > [class^="Button"]:first-child {
            margin-top: 0;
        }
    }
}
