$max-page-width: 960px;

$breakpoint-tablet: 680px;
$breakpoint-mobile: 480px;

// colours
$grey-1: #4a4a4a;
$button-blue: #C3D4FF;

%border-global {
    border: solid 1px $grey-1;
}

%padding-input {
    padding: .8em .4em;
}
